@import './utils';
@import './vars';
@import './reset';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
	background: var(--black);
	@extend .poppins;
}


#app {
    width: 100vw;
    height: 100vh;
}

.btn {
	filter: brightness(1);
	&:hover,
	.active {
		filter: brightness(1.2);
	}
}
